<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- 
    <ion-item>
      <ion-input type="text" label="Usuario" labelPlacement="stacked" placeholder="Ingresa nombre de usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" labelPlacement="stacked" placeholder="Ingresa tu contraseña"></ion-input>
    </ion-item> -->
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Skeleton APP</ion-title>
      </ion-toolbar>
    </ion-header>
    <h1 style="text-align: center;">Aqui comienza todo</h1>
    <h3 style="text-align: center;">Bienvenido!</h3>
    
      <form [formGroup]="miFormulario">
        <ion-item>
          <ion-input type="text" label="Usuario" labelPlacement="stacked" placeholder="Ingresa tu nombre de usuario" errorText="Usuario invalido" helperText="Ingresa un usuario válido" formControlName="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Contraseña" labelPlacement="stacked" placeholder="Ingresa tu contraseña" errorText="Contraseña invalida" helperText="Ingresa una contraseña válida" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
      </form>
      <a href="">Crea tu cuenta gratis</a>
</ion-content>
