<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkeletonApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="title">Bienvenido</h1>
  <p style="padding-left: 5%;">Usuario: {{usuarioRecibido}}</p>
  <h3 style="text-align: center;">Informacion Adicional</h3>

    <form [formGroup]="datosForm">
      <ion-item>
        <ion-input class="input1" type="text" label="Nombre" labelPlacement="stacked" placeholder="Ingresa tu nombre" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="input2" type="text" label="Apellido" labelPlacement="stacked" placeholder="Ingresa tu apellido" formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="nivelEducativo" placeholder="Seleccionar nivel educaional"> Seleccione
        <ion-select-option value="Primaria">Basica</ion-select-option>
        <ion-select-option value="Secundaria">Media</ion-select-option>
        <ion-select-option value="Universidad">Superior</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input label="Fecha Nacimiento" labelPlacement="stacked" displayFormat="MMM DD, YYYY" formControlName="fechaNacimiento" name="fechaNacimiento" type="date" placeholder="Ingrese su fecha de nacimiento" ></ion-input>
      </ion-item>
    </form>
    <ion-button expand="block" style="display: inline-block; padding-left: 30%; margin-right: 10%;" (click)="limpiarCampos()">Limpiar Campos</ion-button>
    <ion-button expand="block" style="display: inline-block; margin-left: 10%;" (click)="mostrarPopup()">Mostrar</ion-button>
</ion-content>
